:root {
    --purple: #68009c;
    --lightpurple: #9b5ed1;
    --lighterpurple: #dfd5e8;
    --black: #000000;
    --white: #ffffff;
    --gray: #949494;
  }

header {
    max-width: 100%;
}

nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Styles color and margin of text in the navigation bar */
nav h5 {
    color: var(--purple);
    margin: .75vw;
}

#highscorenav:hover {
    color: var(--lightpurple);
    cursor: pointer;
}

/* Main is everything below the header */
#main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#quizarea {
    padding: 8vw 5vw 5vw 5vw;
    width: fit-content;
}

#boldtext {
    font-weight: bold;
}

#subtext {
    font-weight: 500;
}

#buttons {
    display: flex;
}

#buttons p {
    width: fit-content;
    padding: .7vw 2vw;
    background-color: var(--purple);
    border-radius: 10px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
}

#buttons p:hover {
    cursor: pointer;
    background-color: var(--lightpurple);
}

form {
    flex-wrap: wrap;
}

form label, input {
   width: fit-content;
   margin: auto 1vw auto 0vw;
}

form button {
    width: fit-content;
    border-style: none;
    background-color: var(--purple);
    border-radius: 10px;
    font-size: 1rem;
    color: var(--white);
    font-weight: 500;
}

form button:hover {
    cursor: pointer;
    background-color: var(--lightpurple);
}


hr {
    color: var(--gray);
}

#scores p {
    font-weight: 500;
    background-color: var(--lighterpurple);
    padding-left: 1vw;
}